.cards_wrapper {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 45px;
}

.card {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: inherit;
  transition: all 490ms ease-in-out;
  object-fit: cover;
}

.img_wrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  border: 2px solid #333;
}

.card:hover img {
  scale: 1.1;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1186px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .img_wrapper {
    height: 500px;
  }
}

@media screen and (max-width: 810px) {
  .img_wrapper {
    height: 500px;
  }
}
@media screen and (max-width: 717px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    min-width: 250px;
  }
  .img_wrapper {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    min-width: 100px;
    min-height: 300px;
  }
  .img_wrapper {
    height: 100%;
  }
}
