.promo {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: relative;
}

.promo_item {
  cursor: pointer;
  font-family: "Russo One", sans-serif;
}

.promo_item:hover {
  color: #777;
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.popup > * {
  margin-bottom: 1.5%;
}

.popup form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  /* margin-bottom: 25px; */
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 20px;
  cursor: pointer;
}

.popup .data {
  padding: 10px 5px;
  border: none;
  background: transparent;
  border-bottom: 1px #111 solid;
  outline: none;
  font-size: 25px;
}

.popup button {
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  width: 50%;
}

.add {
  /* margin-bottom: 40px; */
}

.popup_item {
  display: flex;
  width: 50%;
  /* margin-bottom: 10px; */
}

.checkbox {
  cursor: pointer;
  font-size: 20px;
}

.checkbox input {
  margin-right: 10px;
  cursor: pointer;
}

.img_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.img_container img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}
