.home {
  height: calc(100vh - 100px);
}

.home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: 9; */
}

.promo {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--main-black);
  overflow: hidden;
}
.ticker {
  position: absolute;
  width: 100%;
  height: 50px;
  /* background-color: var(--main-black); */
  z-index: 11;
  font-size: 35px;
  color: #c1c0c0ab;
  font-family: "Protest Strike", sans-serif;
  text-wrap: nowrap;

  display: flex;
  align-items: center;
}

.ticker:nth-of-type(1) {
  left: 0;
  top: 0;
}
.ticker:nth-of-type(2) {
  left: 0;
  bottom: 0;
}

.layout {
  position: fixed;
  z-index: 10;
  background: #362009ab;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
}

.ticker_item {
  display: inline-block;
  white-space: nowrap; /* Запрещаем перенос строк */
  animation: ticker-animation 5s linear infinite;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(100%); /* Текст стартует с правой стороны */
  }
  100% {
    transform: translateX(-100%); /* Двигается влево за пределы контейнера */
  }
}
