/* Header */
.header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #333;
  background-color: #fff;
}

.pm {
  font-family: "Protest Strike", sans-serif;
  font-size: 40px;
}

.header_container {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

/* nav_wrapper */

.nav_wrapper {
  position: relative;
  /* font-family: "Russo One"; */

  font-weight: 100;
}

.link_wrapper,
.sublink_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.link_item,
.sublink_item {
  width: 100%;
  height: 40px;
  /* border-bottom: 2px solid #333; */
}

.link_item {
  font-size: 20px;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.link_item_text {
  text-transform: capitalize;
}
.nav_wrapper .sublink_item {
  position: absolute;
  z-index: 9;
  top: 40px;
  left: 0;
  height: 100%;
}

.link_item a,
.sublink_item a {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  text-wrap: nowrap;
}

.sublink_item a {
  background: #fff;
}

.sublink_item a:hover {
  cursor: pointer;

  background-color: #ddd;
}

/* nav_wrapper_touch */

.nav_wrapper_touch {
  position: relative;
}
.nav_wrapper_touch,
.nav_wrapper_touch_layout {
  font-family: "Rubik", sans-serif;
}

.nav_wrapper_touch_layout {
  position: fixed;
  z-index: 20000;
  top: 49.5px;
  left: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50vw;
  height: calc(100vh - 50px);
  background-color: #eee;
}

.nav_wrapper_touch_layout .link_item {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.sublink_item_touch {
  padding-left: 30px !important;
}

/* .nav_wrapper_touch_layout .link_subitem {
  display: flex;
  padding: inherit;
  padding-top: 0;
} */

@media screen and (max-width: 560px) {
  .pm {
    font-size: 33px;
    padding: 4px 0;
  }
  /* .nav_wrapper_touch_layout {
    top: 47.5px;
  } */
}
/* @media screen and (max-width: 520px) {
  .pm {
    font-size: 34px;
    padding: 2.5px 0;
  }
} */
@media screen and (max-width: 490px) {
  .pm {
    font-size: 30px;
    padding: 6px 0;
  }
  /* .nav_wrapper_touch_layout {
    top: 48px;
  } */
}
@media screen and (max-width: 450px) {
  .pm {
    font-size: 28px;
    padding: 7px 0;
  }
  /* .nav_wrapper_touch_layout {
    top: 45.5px;
  } */
  .link_item,
  .sublink_item {
    font-size: 14px;
  }
}
@media screen and (max-width: 420px) {
  .pm {
    font-size: 26px;
    padding: 8px 0;
  }
}
@media screen and (max-width: 400px) {
  .pm {
    font-size: 25px;
    padding: 9px 0;
  }
  /* .nav_wrapper_touch_layout {
    top: 40px;
  } */
}
@media screen and (max-width: 380px) {
  .pm {
    font-size: 22px;
    padding: 11px 0;
  }
}
@media screen and (max-width: 360px) {
  .pm {
    font-size: 20px;
    padding: 12px 0;
  }
}
@media screen and (max-width: 340px) {
  .pm {
    font-size: 18px;
    padding: 13px 0;
  }
  /* .nav_wrapper_touch_layout {
    top: 39px;
  } */
}
@media screen and (max-width: 320px) {
  .pm {
    font-size: 17px;
    padding: 14px 0;
  }
}
