/* Header */
.header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #333;
  background-color: #fff;
}

.pm {
  font-family: "Protest Strike", sans-serif;
  font-size: 40px;
}

.header_container {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

/* nav_wrapper */

.nav_wrapper {
  position: relative;
}

.link_wrapper,
.sublink_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
}

.link_item,
.sublink_item {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  text-wrap: nowrap;
  cursor: pointer;
}
.link_wrapper a:hover,
.sublink_wrapper a:hover {
  background-color: rgb(221, 221, 221, 0.5);
}
